



.image-modal {
	width: 30%; 
	margin-left: 2%;
	margin-top: 7%;
}

#modal-content {
	margin-left: 3%;


		h3 {
			font-family: $brandon-light $montserrat;

		}
		
		h4 {
			font-size: 14px;
		}
		
		p {
			font-size: 12px;
		}

		label {
			font-size: 12px;
		}
}
