/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */

.padded {
  padding-top: 10em;
  padding-bottom: 10em;
}
.little-padded {

	padding-top: 3em;
	padding-bottom: 5em;	
}

.spacer {
	height: 4em;
}

.bg-gray

{ background-color: $gray-lighter;
}

